<form name="projectDetailForm">
	<div class="control-group" ng-class="{error: projectDetailForm.name.$invalid && !projectDetailForm.name.$pristine}">
		<label>Name</label>
		<input type="text" name="name" ng-model="projectEdit.project.name" required />
		<span class="help-inline" ng-show="projectDetailForm.name.$error.required && projectDetailForm.name.$pristline">
			Required {{projectDetailForm.name.$pristline}}
		</span>
	</div>
	
	<div class="control-group" ng-class="{error: projectDetailForm.site.$invalid && !projectDetailForm.site.$pristine}">
		<label>Website</label>
		<input type="url" name="site" ng-model="projectEdit.project.site" required />
		<span class="help-inline" ng-show="projectDetailForm.site.$error.required && projectDetailForm.site.$pristline">
			Required
			<span class="help-inline" ng-show="projectDetailForm.site.$error.url">Not a URL</span>
		</span>
	</div>
	
	<label>Description</label>
	<textarea name="description" ng-model="projectEdit.project.description"></textarea>
	
	<br/>
	<a href="#/" class="btn">Cancel</a>
	<button class="btn btn-primary" ng-click="projectEdit.save()" ng-disabled="projectDetailForm.$invalid">
		Save
	</button>
	<button class="btn btn-danger" ng-click="projectEdit.destory()" ng-show="projectEdit.project.$id">
		Delete
	</button>
</form>