<input type="text" ng-model="projectList.search" class="search-query" id="projects_search" placeholder="Search"/>
<table>
	<thead>
		<tr>
			<th>Project</th>
			<th>Description</th>
			<th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projectList.projects | filter:projectList.search | orderBy:'name'">
			 <td><a ng-href="{{project.site}}" target="_blank">{{project.name}}</a></td>
			 <td>{{project.description}}</td>
			 <td><a ng-href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a></td>
		</tr>
	</tbody>
</table>