<!doctype html>
<html ng-app="projectApp">
	<head>
		<meta charset="UTF-8"/>
		<title>Project App Demo</title>
		<link href="/resources/css/bootstrap.css" rel="stylesheet"/>
		<script src="/resources/js/lib/angular/angular.js"></script>
		<script src="/resources/js/lib/angular/angular-resource.js"></script>
		<script src="/resources/js/lib/angular/angular-route.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="/resources/js/app/project.js"></script>
	</head>
	<body class="well" ng-controller="ProjectController as project">
		<h2>{{appConstants.appTitle}}</h2>
		<div ng-view></div>
	</body>
</html>