<!doctype html>
<html ng-app="beerCounterApp">
	<head>
		<meta charset="UTF-8"/>
		<title>Components App Demo</title>
		<link href="/resources/css/bootstrap.css" rel="stylesheet"/>
		<script src="/resources/js/lib/angular/angular.js"></script>
			<script src="/resources/js/app/components.js"></script>
	</head>
	<body class="well" ng-controller="ComponentsController">
		<h2>{{appConstants.appTitle}}</h2>
		<tabs>
			<pane title="Localization">
				Date: {{'2012-04-01' | date:'fullDate'}}<br />
				Currency : {{123456 | currency}}<br />
				Number: {{98765.4321 | number}}<br />
			</pane>
			<pane title="Pluralization">
				<div ng-controller="BeerCounterController">
					<div ng-repeat="beerCount in beers">
						<ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
					</div>
				</div>
			</pane>
		</tabs>
	</body>
</html>

