<!doctype html>
<html ng-app="todoApp">
	<head>
		<meta charset="UTF-8"/>
		<title>Todo App Demo</title>
		<link href="/resources/css/bootstrap.css" rel="stylesheet"/>
		<link href="/resources/css/app.css" rel="stylesheet"/>
		<script src="/resources/js/lib/angular/angular.js"></script>
		<script src="/resources/js/app/todo.js"></script>
	</head>
	<body class="well" ng-controller="TodoListController as todoList">
		<h2>{{appConstants.appTitle}}</h2>
		<div>
			<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
			[ <a href="" ng-click="todoList.archive()">archive</a> ]
			<ul class="unstyled">
				<li ng-repeat="todo in todoList.todos">
					<input type="checkbox" ng-model="todo.done" />
					<span class="done-{{todo.done}}">{{todo.title}}</span>
				</li>
			</ul>
			<form ng-submit="todoList.addTodo()">
				<input type="text" ng-model="todoList.todoTitle" size="30" placeholder="add new todo here" />
				<input class="btn-primary" type="submit" value="add" />
			</form>
		</div>
	</body>
</html>