<!doctype html>
<html ng-app="indexApp">
	<head>
		<meta charset="UTF-8"/>
		<title>Todo App Demo</title>
		<link href="/resources/css/bootstrap.css" rel="stylesheet"/>
		<script src="/resources/js/lib/angular/angular.js"></script>
		<script src="/resources/js/app/index.js"></script>
	</head>
	<body class="well" ng-controller="IndexController as Index">
		<h2>{{appConstants.appTitle}}</h2>
		<div>
			<ul class="unstyled">
				<li ng-repeat="app in Index.apps">
					<a href="" ng-click="Index.goPage(app)">{{app.title}}</a>
				</li>
			</ul>
		</div>
	</body>
</html>